footer{
    background-color: #34495e;
}

.logo{
    font-family: 'Lato', sans-serif;
    font-size: 4em;
}
.articles{
    display: inline-block;
    width: 70%;
    border-bottom: solid #34495e 2px;
    margin-top: 40px;
}
.articles:hover{
    text-decoration: none;
    background-color: #bdc3c7;
    
}
.article-lien{
    color: #34495e;
}
.deleteFlow{
    background-color: #34495e;
    color: #ecf0f1;
    display: inline-block;
    border-radius: 10px;
    vertical-align: middle;
    width: 140%;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-top: 50px;
}
.deleteFlow:hover{
    text-decoration: none;
    color: #ecf0f1;
}
.article-element{
    display: inline-block;
    width: 140%;
}
.article-delete{
    display: inline-block;
    width: 30%;
    
}
.conteneur{
    margin-top: 3%;
    display: block;
    padding-top: 2%;
    padding-bottom: 7%;
}
.element{
    display: inline-block;
    width: 70%;
    border-bottom: solid #34495e 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}