body{
    background-image: url("img/finale.jpg");
    background-size: Cover;
}
main{
    text-align: center;

}
header{
    text-align: center;
    color: #ecf0f1;
    font-family: 'Bangers', cursive;
}
.HomeButton{
    text-align: center;
    color: #ecf0f1;
    border-radius: 30px;
    font-size: 150%;
    transition: all 0.5s;
    padding: 1% 2% 1% 2%;
    background-color: #2c3e50;
    border-width: 3px;
    border-style: solid;
    display: inline-block;
    width: 20%;
    font-family: 'Lato', sans-serif;
}
#Title{
    margin-top: 15%;
    margin-bottom: 10%;
    font-size: 5em;
}
.HomeButton:hover{
    text-decoration: none;
    color: #2c3e50;
    background-color: #ecf0f1;
    border-color: #2c3e50;
}
.button{
    margin-bottom: 3%;
    margin-top: 3%;
}

.form-label{
    color: #2c3e50;
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    margin-bottom: 3%;
    margin-top: 3%;
}
.form_input{
    margin-bottom: 30px;
    display: block;
}
.form_input:focus{
    outline: none;
}
.subtitle{
    margin-bottom: 10%;
    color: #2c3e50;
    font-family: 'Lato', sans-serif;
    font-size: 2.5em;
}
.validateButton{
    margin-top: 10%;
}
.validateButton:hover{
    width: 80%;
}
.formulaire{
    background-color: #ecf0f1;
    padding-top: 50px;
    padding-bottom: 10px;
    display: block;
    width: 600% !important;
    -webkit-box-shadow: 0px 0px 13px 6px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 13px 6px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 13px 6px rgba(0,0,0,0.3);
}