{% extends "base_home.html" %}

        {% block content %}
            <div class="container formulaire">
                <div class="row button">
                    <div class="col-sm">
                        <a href="{{ url_for('.inscription')}}" class="HomeButton">INSCRIPTION</a>
                    </div>
                </div>
                <div class="row button">
                    <div class="col-sm">
                        <a href="{{ url_for('.connexion')}}" class="HomeButton">CONNEXION</a> 
                    </div>
                </div>
            </div>
        {% endblock %}